<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sydney has some exceptionally beautiful natural areas and open spaces situated within the city. Much of the natural heritage that remains in Sydney has a colourful past dating back to the first settlers. Other gardens and open spaces are more recent additions to the cityscape providing sanctuary from the day to day city traffic and hustle and bustle.

Admission With the exception of The Chinese Garden of Friendship in Darling Harbour, Sydney&apos;s parks and gardens do not have admission fees and they are open to the Public every day of the week.

Getting There The Sydney Explorer is a great way to see many of Sydney&apos;s attractions on a budget and it will drop you close to all of Sydney&apos;s major natural assets. Parking can be a problem in and around the CBD, so unless you want spend most of your time looking for a park, its not a good idea to drive yourself. Sydney&apos;s public transport system is quite reliable and efficient and generally you can get a train or a bus right to the doorstep of where you want to go.

List of Sydney Parks
	•	Royal Botanic Gardens
	•	Hyde Park
	•	Centennial Park
	•	Cook &amp; Phillip Park
	•	The Domain
	•	The Chinese Garden of Friendship
</string>
	<string>Sydney is a multicultural city and as such is considered to be interdenominational with respect to religion, that is, people are tolerant and accepting of all beliefs. regardless of your faith you should not have any problems finding an appropriate place of worship. The main religion in Sydney is Christianity. The Anglican, Roman Catholic and Uniting Churches account for the 3 largest denominations. Other Christian denominations include Baptist, Lutheran, Presbyterian, Jehovah&apos;s Witness and Seventh Day Adventist. While the list below is by no means exhaustive, you will find some handy information about some of the more popular places of worship in Sydney.</string>
	<string>Shopping in the heart of Sydney is a pleasure compared to the haggling in south east asia and hustle and the bustle of other cosmopolitan cities. Most of the large department stores and shopping centres are within a few blocks of each other and if it&apos;s raining you can make your way around under cover using the intricate system of malls, arcades, interconnected department stores, tunnels and overhead walkways that link four blocks of local and international outlets.

Shops are generally open from 9-5pm Monday through Friday (with the exception of Thursday when most stores will open until 9pm), 9-4pm on Saturday and some stores in the city will open on a Sunday but hours vary so it&apos;s best to call up and check. Almost all outlets accept the major credit cards like AMEX, Diners, MC, Visa and some city stores will accept JCB cards. You can also use Maestro or Cirrus electronic network debit cards in most stores.</string>
	<string>Sydney is home to some of Australia&apos;s best Museums and Galleries. Access to some of them is free, however, you generally have to pay a small fee to see special exhibitions.</string>
	<string>An extraordinary site on Sydney Harbour at Bennelong Point, an ambitious state Premier (Joseph J Cahill), a visiting American architect (Eero Saarinen) and a young Dane&apos;s billowy sketches (Joern Utzon) were the key factors which generated one of the world&apos;s most important modern buildings.

Designed at the vast scale of the harbour itself, its low edges contain enough visual appeal for human interest. More remarkable is that the scheme makes no reference to history or to classical architectural forms. The roof is more important than the walls, consequently the language of walls - columns, divisions, windows and pediments - has been effectively dispensed with.

The Sydney Opera House also embodies timeless popular metaphors. The building&apos;s organic shape and lack of surface decoration have made it both timeless and ageless. Moreover, it demonstrates how buildings can add to environmental experience rather than detract from it - something of spiritual value independent of function.

Admission Admission to the Opera House is free. Tours of the building depart every 30 mins between 8.30am and 5pm daily and cost around $14 for adults and $10 for children. The costs for performances vary.

Getting There The Opera House is located an easy 5 minute walk from Circular Quay. It is Sydney Explorer stop number 2.
</string>
	<string>Although the concept of a harbour crossing was entertained fifty years earlier, it was not until 4 January, 1900 that tender designs and financial proposals were sought for a ‘North Shore’ bridge to span the harbour. This was despite Sir John Sulman’s suggestion that a tunnel was a better option. 

All of the 24 schemes were criticised and thought unsatisfactory. By 1903, the firm of J Stewart and Co. had submitted one design (of many) for a single arch bridge without pylons, which is very similar to the one built today. However, this too was rejected as being ‘too huge’ and ‘objectionable’ from an artistic point of view. 

Over the next fifteen years, under the guidance of one of Australia’s greatest civil structural and transport engineers, JJC Bradfield (1867-1943), the bridge project took shape. Finally, an international competition was held, with Bradfield suggesting that the design should be an arch bridge with granite faced pylons at either end. 

The winning design tender by Dorman and Long (recommended by Bradfield himself) proposed the single arch design No. A3 (one of six alternatives) be built from both ends (using cable supports) and joined in the middle. The contract was let in March 1924 . The structural calculations were supervised by Ralph Freeman in London who had left the Cleveland bridge Company in the USA. 

As it was an arch design, any design change required a recalculation across the entire structure, and the calculations for the bridge both in tension (cable supported) and compression (as an arch) filled twenty eight books of transcribed calculations. An impressive but high maintenance design, it kept the Dorman and Long factory in Britain busy producing steel, having agreed to an attractive payment plan with the NSW Government. 

The social impact of the bridge, its construction areas, and its connecting highways involving the demolition of 800 houses, would be inconceivable today. Built between the wars, the project reduced the unemployment created by the Depression and was the greatest labour intensive project to employ 19th century work practices of sledge and cold chisel. 

The span is 1,650 feet to allow unobstructed passage for ships in Sydney Harbour. Of sixteen deaths, seven were workers on the bridge structure itself (139 died during construction of the Brooklyn Bridge). Families living in its path were displaced without compensation. 

Rural taxpayers saw ‘the vampire city, of which the bridge is so complete a symbol . . . sucking the life blood of the suffering country’. The mythology of the bridge being a ‘symbol not only for the city, but for the aspirations of the nation’ blinded most people to the injustices.</string>
</array>
</plist>
